@{
    ViewData["Title"] = "Home Page";
}

<div id="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th width="20px" align="center">№</th>
                <th>Note</th>
                <th class="center" width="120"> Manager  <img ng-click="sortByManager(false)" src="~/images/sort.png" style="float: left;" /> <img ng-click="sortByManager(true)" src="~/images/reverse.png" style="float: right;" /></th>
                <th class="center" width="130"> Creation <img ng-click="sortByNumber(false)" src="~/images/sort.png" style="float: left;" />  <img ng-click="sortByNumber(true)" src="~/images/reverse.png" style="float: right;" /></th>
                <th width="50"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in orders">
                <th class="center">{{order.Number}}</th>
                <td>{{order.Note}}</td>
                <td class="center">{{managers[order.Manager]}}</td>
                <td class="center">{{order.CreationTime}}</td>
                <td>
                    <a href="#modaledit" ng-click="openEditForm(order.Number, order.Note, managers[order.Manager], order.ID)" id="editButton" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="remodal modalwindow" data-remodal-id="modaledit">
    <button data-remodal-action="close" class="remodal-close"></button>

    <h3>
        Order №{{editingOrder.Number}}
    </h3>


    <div>
        <p>Manager: </p>

        <select id="mngr" class="form-control">
            <option ng-repeat="manager in managers" value="{{manager}}">{{manager}}</option>
        </select>

        <textarea id="note" ng-model="editingOrder.Note" placeholder="Note"></textarea>
    </div>


    <button ng-click="editOrder()" data-remodal-action="confirm" class="btn btn-success btn-sm">Edit order</button>
</div>


